# env
.env
.venv/
.vscode/

# file types
*__pycache__/
*.ipynb
sandbox/*
sandbox_*


# data
/data/*
!/data/sweeped_models/

# experiments
/experiments/figures/*

# hpc + wandb
wandb/
hpc/runs/*.err
hpc/runs/*.out